<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBH85vWcKB2oZ-ZFlhNP5vRkGjvOZAmf-4</string>
	<key>GCM_SENDER_ID</key>
	<string>24569452776</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.josephine.TwitterClone</string>
	<key>PROJECT_ID</key>
	<string>twitterclone-81dca</string>
	<key>STORAGE_BUCKET</key>
	<string>twitterclone-81dca.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:24569452776:ios:31b22a31cf82c54e81515d</string>
</dict>
</plist>